<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<script type="text/javascript"  charset="utf-8" src="$!{basePath}/ueditor/ueditor.config.js"></script>
  <script type="text/javascript"  charset="utf-8" src="$!{basePath}/ueditor/ueditor.all.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="$!{basePath}/ueditor/lang/zh-cn/zh-cn.js"></script>
      <script src="$!{basePath}/content/js/vue.min.js" type="text/javascript"></script>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">新增</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/houseaOnline/back/xfHouse/doAdd.html" method="POST">
					  		<input type="hidden" id="btn_sub" class="btn_sub" />
					  		<div class="form-group mno" style="height:60px;padding-top:10px;border-bottom:1px solid blue">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:right;">房间所在楼层</label>
													      <input type="text" v-model="floor"  name="floor" id="floor" class="form-control col-sm-1"/>  
													      <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">楼</label>
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:right;">房间编号</label>
													      <input type="text" v-model="code" name="code" id="code" class="form-control col-sm-1 " />
													      <input type="hidden" v-model="name" name="name" id="name" class="form-control col-sm-1 " />
													      <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">{{floor+code}}</label>
													       <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:right;">户型 </label>
													          <select name="hxid" id="hxid"  value="$!{xfHouse.hxid}" class="form-control col-sm-2" >
													      <option value="" >请选择房产户型 </option>
													       	#if($!{pagehxInfos})
													                #foreach($!{info} in $!{pagehxInfos})
													               	 <option value="$!{info.id}" #if($!{info.id} eq $!{xfHouse.hxid})selected#end>$!{info.name}</option>
														             #end
													    	 	#end
													      </select>
													       <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:right;">销售状态  </label>
													    <div class="col-sm-2">
													      <select name="status" id="status"  value="$!{xfHouse.status}" class="form-control" >
															    <option value="" >选择销售状态</option>
															    <option value="0" #if('0' eq $!{xfHouse.status})selected#end>待售</option>
															    <option value="1" #if('1' eq $!{xfHouse.status})selected#end>在售</option>
															    <option value="2" #if('2' eq $!{xfHouse.status})selected#end>已预定未支付</option>
															    <option value="3" #if('3' eq $!{xfHouse.status})selected#end>已售</option>
															    </select>
													    </div>
													     
													</div>
													 
													<div class="form-group mno" style="display:none;">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">单元ID</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{cellid}" name="cellid" id="cellid" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno" style="display:none;">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">楼栋ID</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{buildingid}" name="buildingid" id="buildingid" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno" style="display:none;">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">项目ID</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{pid}" name="pid" id="pid" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno"  style="height:60px;padding-top:10px;border-bottom:1px solid blue">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:right;">报价</label>
													      <input type="hidden"  v-model="price"  name="price" id="price" class="form-control  col-sm-2" />
													            <input type="text" v-model="priceold" name="priceold" id="priceold" class="form-control col-sm-1" />
													             <select v-model="priceunit" id="priceunit" class="form-control col-sm-1" >
															    <option disabled  value="" >选择价格单位</option>
															    <option>元/m²</option>
															    <option>元/套</option>
															 </select>
														 <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">价格为：{{priceold+priceunit}}</label>
													     <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">装修情况</label>
													     <select name="zhuangxiustatus" id="zhuangxiustatus"  value="$!{xfHouse.zhuangxiustatus}" class="form-control col-sm-2" >
															    <option value="" >设置装修情况</option>
															    <option value="0" #if('0' eq $!{xfHouse.zhuangxiustatus})selected#end>毛坯</option>
															    <option value="1" #if('1' eq $!{xfHouse.zhuangxiustatus})selected#end>简装</option>
															    <option value="2" #if('2' eq $!{xfHouse.zhuangxiustatus})selected#end>精装</option>
														  </select>
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">电梯情况</label>
													      <input type="text" value="$!{xfHouse.elevator}" name="elevator" id="elevator" class="form-control  col-sm-2" />
													     
													</div>
													 <div class="form-group mno"  style="height:60px;padding-top:10px;border-bottom:1px solid blue">
													<label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">房屋朝向</label>
													      <input type="text" value="$!{xfHouse.chaoxiang}" name="chaoxiang" id="chaoxiang" class="form-control  col-sm-2" />
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">网上选房定金设置</label>
													      <input type="text" value="$!{xfHouse.orderprice}" name="orderprice" id="orderprice" class="form-control  col-sm-1" />
													   <label for="inputEmail3" class="col-sm-3  control-label" style="text-align:left;">元     *备注：不填，或填写金额为 0时， 在线定房不需要用户缴纳定金</label>
													   
													      <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:right;">交房日期</label>
													      <input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{xfHouse.deliverydate})" name="deliverydate" id="deliverydate" class="form-control col-sm-2"   onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">房间描述</label>
													    <div class="col-sm-8">
													       <textarea name="content" id="content" datatype="*">$!{xfHouse.content}</textarea>
															<script type="text/javascript">
													        var editor = UE.getEditor('content');
													    </script></div>
													</div>
													
										<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/houseaOnline/back/xfHouse/list.html?cellid=$!{cellid}&buildingid=$!{buildingid}&pid=$!{pid}')">返回</button>
	        									<button type="button" class="btn btn-primary" id="formSubmit">提交</button>
        									 </div>
        								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script> 
<script> 
  var vm=new Vue({
      el:"#dailogForm",
      data:{
          priceold:'',
          priceunit:'元/m²' ,
          floor:'',
          code:''
     },
     computed: {
	    price:function () {
	     return this.price = this.priceold+this.priceunit
	    },
	    name:function(){
	     return this.name = this.floor+this.code
	    }
    }
  });
 
    
</script>