<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">编辑</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/toupiao/back/wxActToupiaoConfig/doEdit.do" method="POST">
						 <input type="hidden" id="btn_sub" class="btn_sub" />
						 <input type="hidden" value="$!{wxActToupiaoConfig.id}" name="id" id="id" />
												
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">活动ID</label>
													    <div class="col-sm-8">
													      <input type="hidden" value="$!{wxActToupiaoConfig.actId}" name="actId" id="actId" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否允许每天多次投票</label>
													    <div class="col-sm-8">
													  <select name="isManyVtoe" id="isManyVtoe"  value="$!{wxActToupiaoConfig.isManyVtoe}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.isManyVtoe}")selected#end>否</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.isManyVtoe}")selected#end>是</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">每天投票次数</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{wxActToupiaoConfig.verydayMaxVotecount}" name="verydayMaxVotecount" id="verydayMaxVotecount" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否关注后投票</label>
													    <div class="col-sm-8">
													      <select name="foucsUserCanJoin" id="foucsUserCanJoin"  value="$!{wxActToupiaoConfig.foucsUserCanJoin}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.foucsUserCanJoin}")selected#end>否</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.foucsUserCanJoin}")selected#end>是</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">投票方式 </label>
													    <div class="col-sm-8">
													   <select name="voteType" id="voteType"  value="$!{wxActToupiaoConfig.voteType}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.voteType}")selected#end>单选</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.voteType}")selected#end>多选</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">选项显示样式</label>
													    <div class="col-sm-8">
													  <select name="optionViewStyle" id="optionViewStyle"  value="$!{wxActToupiaoConfig.optionViewStyle}" class="form-control" >
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.optionViewStyle}")selected#end>单列显示</option>
												      		<option value="2" #if("2" == "$!{wxActToupiaoConfig.optionViewStyle}")selected#end>两列显示</option>
												      		<option value="3" #if("3" == "$!{wxActToupiaoConfig.optionViewStyle}")selected#end>三列显示</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">选项称谓</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{wxActToupiaoConfig.optionAddr}" name="optionAddr" id="optionAddr" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">选项量词</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{wxActToupiaoConfig.optionClassic}" name="optionClassic" id="optionClassic" class="form-control" />
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否显示搜索框</label>
													    <div class="col-sm-8">
													  <select name="isViewSearch" id="isViewSearch"  value="$!{wxActToupiaoConfig.isViewSearch}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.isViewSearch}")selected#end>不显示</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.isViewSearch}")selected#end>显示</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否显示活动介绍 </label>
													    <div class="col-sm-8">
													  <select name="isViewDescript" id="isViewDescript"  value="$!{wxActToupiaoConfig.isViewDescript}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.isViewDescript}")selected#end>不显示</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.isViewDescript}")selected#end>显示</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否显示活动统计</label>
													    <div class="col-sm-8">
													  <select name="isViewTongji" id="isViewTongji"  value="$!{wxActToupiaoConfig.isViewTongji}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.isViewTongji}")selected#end>不显示</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.isViewTongji}")selected#end>显示</option>
												      </select>
													    </div>
													</div>
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否显示选项票数</label>
													    <div class="col-sm-8">
													  <select name="isViewPiaoshu" id="isViewPiaoshu"  value="$!{wxActToupiaoConfig.isViewPiaoshu}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.isViewPiaoshu}")selected#end>不显示</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.isViewPiaoshu}")selected#end>显示</option>
												      </select>
													    </div>
													</div>
													
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">是否显示报名入口</label>
													    <div class="col-sm-8">
													  <select name="isEnter" id="isEnter"  value="$!{wxActToupiaoConfig.isEnter}" class="form-control" >
												      		<option value="0" #if("0" == "$!{wxActToupiaoConfig.isEnter}")selected#end>不显示</option>
												      		<option value="1" #if("1" == "$!{wxActToupiaoConfig.isEnter}")selected#end>显示</option>
												      </select>
													    </div>
													</div>
													
													<div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">每次最多可选个数</label>
													    <div class="col-sm-8">
													      <input type="text" value="$!{wxActToupiaoConfig.checkVoteCount}" name="checkVoteCount" id="checkVoteCount" class="form-control" />
													    </div>
													</div>




									<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/toupiao/back/wxActToupiaoConfig/list.do')">返回</button>
	        									<button type="button" class="btn btn-primary" id="formSubmit">提交</button>
        									 </div>
        							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/js/forminit.p3.js"></script>  