#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<script>
var currentWwwPath=window.document.location.href;  
    //获取主机地址之后的目录，如：/supermarket/user.do(注意：不包括?后面传递的参数)
    var pathName=window.document.location.pathname;  
    //获取/uimcardprj中/的位置(也就是主机地址后面的/)，这里是：21
    var position=currentWwwPath.indexOf(pathName);  
    //获取主机地址，如：http://localhost:8080
    var localhostPath=currentWwwPath.substring(0,position);  
    var pageinfo=[];

</script>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/bigwheel/back/activityBigwheel/bigwheellist.html" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">大转盘抽奖活动配置列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="title" class="control-label col-sm-3 line34">活动名称</label>
															     <div class="col-sm-8">
															    <input type="text" name="title" id="title" value="$!{activityBigwheel.title}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="deleted" class="control-label col-sm-3 line34">是否已删除</label>
															     <div class="col-sm-8">
															    <input type="text" name="deleted" id="deleted" value="$!{activityBigwheel.deleted}" class="form-control">
															  	</div>
															 </div>
															 
															 <div class="form-group col-sm-3">
															    <label for="deleted" class="control-label col-sm-3 line34">是否已发布 </label>
															     <div class="col-sm-8">
															    <input type="text" name="ispublish" id="ispublish" value="$!{activityBigwheel.ispublish}" class="form-control">
															  	</div>
															 </div>
															 
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/bigwheel/back/activityBigwheel/toAdd.do')" >新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
													<th>活动名称</th>
													<th>开始时间</th>
													<th>结束时间</th>
													<th>总中奖率</th>
													<th>发布状态</th>
													<th>活动创建时间</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			<script>
						                				var info={};
						                				info.title="$!{info.title}";
						                				info.id="$!{info.id}";
						                				info.start="$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.start})";
						                				info.end="$!dateTool.format("yyyy-MM-dd HH:mm:s",$!{info.end})";
						                				info.globalprobability="$!{info.globalprobability}";
						                				pageinfo.push(info)
						                				</script>
																	<td>$!{info.title}</td>
																	<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.start})</td>
																	<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.end})</td>
																	<td>$!{info.globalprobability}%</td>
																	<td>$!{info.ispublish}</td>
																	<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.creatDate})</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/bigwheel/back/activityBigwheel/toEdit.html?id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/bigwheel/back/activityBigwheel/dodelete.html?id=$!{info.id}')">删除</a> 
							                			 #if($!{info.ispublish} eq 0 && $!{info.deleted} eq 0)
							                			<a href="javascript:pubdialog('PubModal','发布确认',$velocityCount)"><span style="background-color:red;">点击进行发布</span></a>
							                			#else
							                			<span style="background-color:green;">活动已发布</span></a>
							                			#end
							                			<a href="javascript:doUrl('$!{basePath}/bigwheel/back/activityBigwheelAward/list.html?activityid=$!{info.id}')">奖品及余量</a>
							                			<a href="javascript:doUrl('$!{basePath}/bigwheel/back/activityBigwheelRecord/list.html?activityid=$!{info.id}')">获奖名单</a><br>
							                			<a href="javascript:doUrl('$!{basePath}/bigwheel/back/activityBigwheelRecord/list.html?activityid=$!{info.id}')">抽奖记录</a>
							                			<a href="javascript:doUrl('$!{basePath}/activity/back/awardApproveUser/list.html?activityid=$!{info.id}')">核销人管理</a>
							                			<a href="javascript:dialogDiv('myModal','访问链接',localhostPath+'$!{basePath}/bigwheel/index.html?activityid=$!{info.id}&jwid=$!{info.jwid}')">[查看微信访问二维码]</a>
						                				
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               模态框（Modal）标题
	            </h4>
	         </div>
	         	         <img id="qrcode" src="#" style="margin:0px auto;display: block;">
	         <div class="modal-body" id="myModalContent"  style="word-break:break-all;text-align:center; ">
	           打开微信扫一扫
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="button" class="btn btn-primary" style="display:none;">
	              复制
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="PubModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="PubModalLabel">
	               模态框（Modal）标题
	            </h4>
	         </div>
	         <div class="alert alert-warning alert-dismissable">  
				<h3>请确认以下信息，活动发布后，将禁止再次更改！</h3>
			</div>
	         <div class="modal-body" style="color:red;">
	         	         	<h4>活动名称：<span id="actName1"></span> </h4>
							 <h4>活动开始时间：<span id="beginTime"></span>  </h4>
							 <h4>活动结束时间： <span id="endTime"></span>   </h4>
							 <h4>全局中奖率： <span id="endEnterTime"></span> </h4>
			</div>
	         <div class="modal-body" id="myModalContent"  style="word-break:break-all">
	            按下 ESC 按钮退出。
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" class="btn btn-primary"  onclick="javascript:if(confirm('您确定要发布该活动吗?'))redirectUrl('$!{basePath}/bigwheel/back/activityBigwheel/vipActive.html?id='+pageinfo[select].id+'&ispublish=1')">
	              发布
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<script>
function dialogDiv(modalId,title,content){ 
 	$('#'+modalId+'Label').html(title);
 	$('#qrcode').attr('src','$!{basePath}/qrcode/getQRCode.do?url='+(encodeURIComponent(content)));
	$('#'+modalId).modal({show:true,backdrop:false}); 
}


function pubdialog(modalId,title,content){ 
 	$('#'+modalId+'Label').html(title);
 	 console.log(pageinfo[content-1]);
 	 select=content-1;
 	 console.log(pageinfo[select].title);
 	 $('#actName1').text(pageinfo[select].title);
 	 $('#beginTime').text(pageinfo[select].start);
 	 $('#endTime').text(pageinfo[select].end);
 	 $('#endEnterTime').text(pageinfo[select].globalprobability+'%');
	$('#'+modalId).modal({show:true,backdrop:false}); 
}
</script>
</body>
</html>