<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">详情</div>
				  	<div class="panel-body">
				   		<form class="form-horizontal" role="form">
							  <fieldset disabled>
							  																 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">0为不开启限制1为开启次数限制</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.limitlottery}" name="limitlottery" id="limitlottery" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">每个人最多参与次数</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.totallotterycount}" name="totallotterycount" id="totallotterycount" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">每天参与次数值 </label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.daylotterycount}" name="daylotterycount" id="daylotterycount" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">每个人最多中奖次数</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.singleuserawards}" name="singleuserawards" id="singleuserawards" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">初始中奖百分比</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.initialprobability}" name="initialprobability" id="initialprobability" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">助力成功率</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.percentage}" name="percentage" id="percentage" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">助力成功人数</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.helpnum}" name="helpnum" id="helpnum" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;">活动ID</label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.activityid}" name="activityid" id="activityid" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.activityPlayrulecol}" name="activityPlayrulecol" id="activityPlayrulecol" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.activityPlayrulecol1}" name="activityPlayrulecol1" id="activityPlayrulecol1" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.activityPlayrulecol2}" name="activityPlayrulecol2" id="activityPlayrulecol2" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.exchangelimit}" name="exchangelimit" id="exchangelimit" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.participatelimit}" name="participatelimit" id="participatelimit" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.gametime}" name="gametime" id="gametime" class="form-control" />
													    </div>
													  </div>
													 <div class="form-group mno">
													    <label for="inputEmail3" class="col-sm-1 control-label" style="text-align:left;"></label>
													    <div class="col-sm-2">
													      <input type="text" value="$!{activityBigwheelPlayrule.gametimetype}" name="gametimetype" id="gametimetype" class="form-control" />
													    </div>
													  </div>
							  </fieldset>
							  			<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/bigwheel/back/activityBigwheelPlayrule/list.do')">返回</button>
        									 </div>
        							    </div>
						</form>
					</div>
			</div>
		</div>
	</div>
</body>
</html>