.area-list-wrap {
	border-radius: 4px 4px 0px 0px; border: 1px solid rgb(1, 179, 253); border-image: none; max-width: 400px; -webkit-border-radius: 4px 4px 0 0;
}
.area-list-wrap .area-list-control {
	text-align: right; background-color: rgb(1, 179, 253);
}
.area-list-wrap .area-list-control .icon-area-edit {
	background: url("../../../image/admin/icon-edit1.png") no-repeat center / 22px 20px; padding: 4px 0px 4px 5px; width: 22px; height: 20px; vertical-align: middle; display: inline-block; cursor: pointer; -webkit-background-size: 22px 20px; -moz-background-size: 22px 20px; -o-background-size: 22px 20px;
}
.area-list-wrap .area-list-control .icon-area-delete {
	background: url("../../../image/admin/icon-delete1.png") no-repeat center / 22px 20px; padding: 4px 10px 4px 0px; width: 22px; height: 20px; vertical-align: middle; display: inline-block; cursor: pointer; -webkit-background-size: 22px 20px; -moz-background-size: 22px 20px; -o-background-size: 22px 20px;
}
.area-list-wrap .area-list-items {
	padding: 4px;
}
.area-list-wrap .area-list-items .address-text {
	padding-bottom: 6px;
}
#render_modal .modal-body {
	padding: 0px; line-height: 1.5; font-size: 12px;
}
#render_modal .modal-footer {
	text-align: center;
}
#render_modal .modal-body .wrap-address-left {
	padding-top: 0px;
}
#render_modal .area-title-wrap {
	overflow: hidden;
}
#render_modal .area-title-wrap p.area-title {
	margin: 0px; padding: 5px 0px; width: 240px; text-align: center; font-size: 16px; float: left; display: inline-block; background-color: rgb(245, 246, 248);
}
#render_modal .area-title-wrap p:last-child.area-title {
	float: right;
}
.wrap-address .wrap-city {
	padding: 0px 0px 0px 20px; cursor: pointer;
}
.wrap-address .wrap-city .city {
	white-space: nowrap; cursor: pointer;
}
.wrap-address .wrap-province {
	cursor: pointer;
}
.wrap-address .wrap-province .province {
	white-space: nowrap; position: relative;
}
.wrap-address .wrap-urban {
	padding: 5px 0px 5px 20px; cursor: pointer;
}
.wrap-address .wrap-address-left .wrap-urban {
	display: none;
}
.wrap-address .wrap-address-left .wrap-city {
	display: none;
}
.wrap-address .wrap-urban .urban {
	white-space: nowrap;
}
.wrap-address .wrap-address-left {
	padding: 10px 20px 0px; float: left;
}
.wrap-address .address-list {
	height: 300px; overflow: auto; padding-left: 20px; min-width: 200px;
}
.wrap-address .address-list li {
	position: relative;
}
.wrap-address .address-list li.city:hover {
	background-color: rgb(245, 246, 248);
}
.wrap-address .wrap-address-left .address-list .check-icon {
	background: url("../../../image/admin/unselect.png") no-repeat center / contain rgb(255, 255, 255); top: 0px; width: 40px; height: 20px; right: 0px; display: inline-block; position: absolute; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain;
}
.wrap-address .wrap-address-left .address-list .check-icon:hover {
	background-image: url("../../../image/admin/selected.png");
}
.wrap-address .wrap-address-right .address-list .check-icon {
	background: url("../../../image/admin/icon-close.png") no-repeat center / contain; top: 0px; width: 40px; height: 20px; right: 0px; display: inline-block; position: absolute; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain;
}
.wrap-address .address-list .check-icon-add {
	left: -20px; top: -2px; width: 20px; height: 20px; text-align: center; color: rgb(51, 51, 51); font-size: 20px; display: inline-block; position: absolute; background-color: rgb(255, 255, 255);
}
.wrap-address .wrap-address-right {
	padding-left: 19px; border-left-color: rgb(245, 246, 248); border-left-width: 1px; border-left-style: solid; float: right;
}
.wrap-address .address-empty-text {
	padding: 10px 0px;
}
.btn-add-area {
	border-color: rgb(1, 179, 253); margin: 5px 0px; padding: 10px 15px; border-radius: 4px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; display: inline-block; min-width: 50px; background-color: rgb(1, 179, 253); -webkit-border-radius: 4px;
}
.btn-add-area:hover {
	border-color: rgb(1, 154, 218); color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(1, 154, 218);
}
#j_modal-confirm {
	margin: -105px 0px 0px -200px; padding: 0px; border-radius: 6px; border: 1px solid transparent; border-image: none; left: 50%; top: 20%; display: none; position: absolute; z-index: 2000; box-shadow: 0px 5px 10px rgba(0,0,0,0.2); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
.modal-confirm .modal-header {
	margin: 0px; padding: 15px 10px; border-radius: 6px 6px 0px 0px; border: currentColor; border-image: none; width: 400px; text-align: left; color: rgb(255, 255, 255); overflow: hidden; font-size: 16px; position: relative; background-clip: padding-box; background-color: rgb(1, 179, 253); -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
.modal-confirm .modal-body {
	margin: 0px; padding: 15px 10px; border: currentColor; border-image: none; width: 400px; max-height: 300px;
}
.modal-confirm .modal-footer {
	padding: 15px 0px 0px; border-radius: 0px 0px 6px 6px; text-align: center; margin-bottom: 15px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px;
}
.modal-confirm .modal-header .btn-close {
	margin: 0px; padding: 15px; border-radius: 0px 6px 0px 0px; top: 0px; right: 0px; color: rgb(255, 255, 255); line-height: 20px; font-size: 18px; font-weight: normal; position: absolute; cursor: pointer; opacity: 1; -webkit-border-radius: 0 6px 0 0; -moz-border-radius: 0 6px 0 0;
}
.modal-confirm .modal-header h4 {
	margin: 0px; padding: 0px; border-radius: 6px 6px 0px 0px; height: 20px; line-height: 20px; font-size: 16px; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0;
}
.modal-confirm .modal-body .content {
	margin: 0px; padding: 30px 0px; text-align: center; font-size: 14px;
}
#set_exchangeLimitDetail_box .exchangeLimitDetail-content {
	display: inline-block;
}
#set_exchangeLimitDetail_box .exchangeLimitDetail-content .exchange-content {
	margin-left: 20px; display: inline-block; position: relative;
}
#set_exchangeLimitDetail_box .exchangeLimitDetail-content .exchange-content .checkbox {
	padding-left: 0px;
}
#set_exchangeLimitDetail_box .exchange-content .close-btn {
	border-radius: 8px; top: 0px; width: 16px; height: 16px; text-align: center; right: -12px; color: rgb(255, 255, 255); line-height: 16px; font-size: 14px; display: inline-block; position: absolute; cursor: pointer; background-color: rgb(148, 148, 148);
}
#set_exchangeLimitDetail_box .add-undefind-box {
	margin-left: 20px; display: inline-block; position: relative;
}
#set_exchangeLimitDetail_box .hide {
	display: none !important;
}
#set_exchangeLimitDetail_box .add-undefind-btn {
	text-decoration: none; vertical-align: bottom;
}
#set_exchangeLimitDetail_box .add-undefind-box .undefind-info-box {
	left: -40px; width: 230px; bottom: -30px; position: absolute;
}
#set_exchangeLimitDetail_box .add-undefind-box .checkbox {
	padding-left: 0px;
}
#set_exchangeLimitDetail_box .undefind-info-box input {
	padding: 3px 4px; border: 1px solid rgb(1, 179, 253); border-image: none; width: 120px;
}
#set_exchangeLimitDetail_box .undefind-info-box .ex-save {
	padding: 4px 6px; border-radius: 3px; border: 1px solid rgb(1, 179, 253); border-image: none; color: rgb(255, 255, 255); text-decoration: none; margin-left: 5px; vertical-align: middle; background-color: rgb(1, 179, 253);
}
#set_exchangeLimitDetail_box .undefind-info-box .ex-cancel {
	padding: 4px 6px; border-radius: 3px; border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(153, 153, 153); text-decoration: none; margin-left: 5px; vertical-align: middle; background-color: rgb(255, 255, 255);
}
